name: Go

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Run short tests
        run: |
          cd go/degausser
          go test -test.short
      - uses: actions/checkout@v6
      - name: Run all tests
        run: |
          cd go/degausser
          go test
